<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="col-md-7">
    <h1>{{ title }}</h1>
    <br>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <div class="form-group">
            <button type="submit">Import File</button>
        </div>
    </form>
</div>
</body>
</html>