<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Name: {{ person.name }}</p>
    <p>Last Name: {{ person.last_name }}</p>
    <p>Email: {{ person.email }}</p>
    <p>Address: {{ person.address }}</p>
</body>
</html>