<!DOCTYPE html>
{% load static p_test_extras %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Testing Views</title>
    <link rel="stylesheet" href="{% static 'css/css_2/my_styles.css' %}">
</head>

<body>
<h1>Person List</h1>
<ul>
    {% for person in persons %}
        <li id="li-style">Name: <a href="{% url 'p_test:detail' person.id  %}">{{ person.name }}</a></li>
        <li>Hobbies: {{ person|hobby_list }}</li>
    {% endfor %}

{#    {% for person in object_list %}#}
{#        <li>Name: <a href="{% url 'p_test:detail' person.id  %}">{{ person.name }}</a></li>#}
{#    {% endfor %}#}


</ul>
</body>
    <script>

    </script>
</html>